- if tasks.empty?
	%br
	%table.table.table-hover.table-bordered
		%thead
			%tr 	
				%th There are no tasks!
- else
	%table.table.table-hover.table-bordered
		%thead
			%tr
				%th Title
				%th Urgency
				%th Room
				%th Created at
				%th Completed
				%th Actions
		%tbody
			- tasks.each do |task|
				%tr
					%td
						= link_to task.title, edit_task_path(task), class: 'btn btn-primary', remote: true
					%td 
						=task.urgency
					%td
						=task.room
					%td.text-info= task.created_at.try(:strftime, "%m-%d-%Y %r")
					%td.text-success= task.completed.try(:strftime, "%m-%d-%Y")
					%td 
						= link_to task_path(task), remote: true, method: :delete, data: {confirm: "Are you sure you want to delete #{task.title}?"} do
							%i.icon-remove
						= link_to edit_task_path(task), remote: true do
							%i.icon-edit
						
 					